<header>
    <img class="foto" src="../images/tecnology.jpg">
</header>

<div>
    <h1>Curriculum Personalizado</h1>
</div>
<div>
    <p>Avenida Paulista, 1009<br>São Paulo, SP<br>CEP 01311-100</p>
</div>
<div>
    <h2>JUREMA BARRETO E SILVA</h2>
</div>
<div>CPF: 123.456.789-00<br>DATA DE NASCIMENTO: 20/12/1980<br>TELEFONE: 3254-2200</div>
<div>
    <h2>Cargos Pretendidos</h2>
</div>
<div>
    <ul>
        <li>Professor de Design Responsivo</li>
        <li>Coordenador de Projetos</li>
        <li>Revisor Técnico</li>
        <li>Analista de Suporte Técnico</li>
    </ul>
</div>
<div>
    <h2>Experiência Profissional</h2>
</div>
<div>
    <ul>
        <li>Mecânico de Manutenção - 2 anos (2003 a 2005)</li>
        <li>Técnico em Instrumentação - (2005 a 2010)</li>
        <li>Instrutor de Informática - 7 anos (2010 até o momento)</li>
    </ul>
</div>
<div>
    <p>Elaborador por Jurema Barreto e Silva</p>
</div>